#OS X meta data
._*
#ignore thumbnails created by windows
Thumbs.db
#ignore Delphi build directories
Android/
iOSDevice/
iOSDevice32/
iOSDevice64/
iOSSimulator/
OSX32/
OSX64/
Win32/
Win64/
Docs/Docs/Reference/
#ignore Delphi build files
*.obj
*.exe
*.dcu
*.map
*.deployproj
#ignore Delphi temp and backup files
*.~*
#ignore Delphi local files
*.dsk
*.dproj.local
*.identcache
*.groupproj.local
*.delphilsp.json
*.tvsconfig
*.rsm
Bin/*.png